* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5a5a5a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #0e8a4c;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    color: #0e8a4c;
    text-decoration: none;
    padding: 5px 10px;
}

a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}
/* Styling for the Close Button (X) */
.close-btn-container {
    text-align: right;
    margin: 10px 20px;
}

.close-btn {
    font-size: 30px;
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.close-btn:hover {
    color: #cc0000;
}

